body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lora", serif;
    background: #12343b;
    background-attachment: fixed;
    color: #333;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #f7f7f7;
    padding: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header h1 {
    font-family: "Playfair Display", serif;
    font-size: 36px;
    margin: 0;
    color: #333;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-family: "Lora", serif;
    font-weight: bold;
    transition: color 0.3s;
    padding: 10px 15px;
    background: #f7f7f7;
    border-radius: 5px;
    border: 2px solid #f7f7f7;
    transition: background 0.3s;
}

nav ul li a:hover {
    color: #fff;
    background: #333;
}

main {
    max-width: 1200px;
    margin: 140px auto 0;
    padding: 20px;
    background: #d3bea8;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#logoLink {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#logo {
    width: 150px; 
    height: auto;
    margin-right: 10px; 
}

#search h2, #trending-properties h2 {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    margin: 15px 0;
    text-align: center;
    color: #333;
}

main::after {
    content: "";
    display: block;
    height: 0vh;
}

.property-card, .contributors-list {
    opacity: 1;
    transform: translateY(0);
}

#about-us-content h2 {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    margin: 20px 0;
    text-align: center;
    color: #333;
}

#about-us-content p {
    font-size: 22px;
}

.form {
    margin-top: 20px;
    text-align: center;
}

input[type="text"] {
    width: 80%;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 18px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
}

.property-card {
    margin: 20px 0;
    padding: 20px;
    border: 2px solid #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.property-card img {
    max-width: 100%;
}

.property-card h3 {
    font-family: "Lora", serif;
    font-size: 24px;
    margin: 10px 0;
}

.property-card p {
    font-family: "Lora", serif;
    font-size: 20px;
    margin: 10px 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lora", serif;
    background: #12343b;
    background-attachment: fixed;
    color: #333;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

#search-results {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background: #fff;
}

#search-results p {
    font-family: "Lora", serif;
    font-size: 20px;
}

input[type="text"], input[type="submit"] {
    margin: 10px 0;
}

/* New */
.property-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.property-item {
    width: calc(33.33% - 20px); /* Can adjust */
    margin-bottom: 20px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.property-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.property-detail {
    padding: 10px;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    justify-content: space-between;
}

.property-key {
    font-weight: bold;
    margin-right: 5px;
}

.property-card {
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    border: 2px solid #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    background: #fff;
}

.property-card img {
    max-width: 100%;
    border-radius: 5px;
}

.property-card h3 {
    font-family: "Lora", serif;
    font-size: 24px;
    margin: 10px 0;
    color: #333;
}

.property-card p {
    font-family: "Lora", serif;
    font-size: 18px;
    margin: 10px 0;
    color: #555;
}
/**/

#about-us-content .contributors-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#about-us-content .contributors-list li {
    margin: 20px 0;
    padding: 20px;
    border: 2px solid #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#about-us-content .contributors-list h4 {
    font-family: "Lora", serif;
    font-size: 24px;
    margin: 0 0 10px;
    color: #333;
}

#about-us-content .contributors-list p {
    font-family: "Lora", serif;
    font-size: 18px;
    margin: 0;
    color: #555;
}

.search-form {
    display: flex;
    align-items: center;
}

#querySelector {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}