<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Residential Property Sales Analysis Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('static', filename='logo.png') }}" id="logoLink">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="logo" id="logo">
        </a>
        <h1>Property Sales Analysis Platform</h1>
        <nav>
            <ul>
                <li><a href="#search" onclick="scrollToSection('search')">Search</a></li>
                <li><a href="#trending-properties" onclick="scrollToSection('trending-properties')">Trending Properties</a></li>
                <li><a href="about_us_page">About Us</a></li>
                <li style="display: none;" id="loginLink"><a href="login">Login</a></li>
                <li style="display: none;" id="logoutLink"><a href="#" id="logoutBtn">Logout</a></li>
                <li style="display: none;" id="adminLink"><a href="admin">Admin</a></li>
            </ul>
        </nav>
    </header>
    <main>     
        <section id="search">
            <h2>Search for Properties</h2>
            <form id="searchForm" class="search-form">
                <select id="querySelector">
                    <option value="query1">Oldest Property Sale</option>
                    <option value="query2">Newest Property Sale</option>
                    <option value="query3">Top 10 Sales by Date</option>
                    <option value="query4">Total Sales by Date</option>
                    <option value="query5">Highest Average Sales by Postcode</option>
                    <option value="query6">Total sales by Year</option>
                    <option value="query7">Sales Ranking by Postcode</option>
                    <option value="query8">Properties Sold by Years</option>
                    <option value="query9">Average Price by Property Type over Years</option>
                    <option value="query10">Average Price by Property Type and Bedroom</option>
                    <option value="query11">Sold Properties by Property Type and Bedroom</option>
                    <option value="query12">Minimum Price of Property by Bedroom</option>
                    <option value="query13">Sales by Month over Years</option>
                    <option value="query14">Average Price by Bedrooms</option>
                    <!-- Add more options as needed -->
                </select>
                <input type="submit" value="Search">
            </form>
            </section>
        
            <section id="search-results">
                <div id="resultContainer"></div>
            </section>

            <section id="Statistics">
                <h2 class="chart-title">Property Sales Statistics</h2>
                <div id="chartContainer" class="chart-container">
                    <img src="{{ url_for('static', filename='q1.png') }}" alt="Chart 1" class="chart" onclick="zoomChart(this)">
                    <img src="{{ url_for('static', filename='q2.png') }}" alt="Chart 2" class="chart" onclick="zoomChart(this)">
                    <img src="{{ url_for('static', filename='q3.png') }}" alt="Chart 3" class="chart" onclick="zoomChart(this)">
                    <img src="{{ url_for('static', filename='q4.png') }}" alt="Chart 4" class="chart" onclick="zoomChart(this)">
                    <img src="{{ url_for('static', filename='q5.png') }}" alt="Chart 5" class="chart" onclick="zoomChart(this)">
                    <img src="{{ url_for('static', filename='q6.png') }}" alt="Chart 6" class="chart" onclick="zoomChart(this)">
                    <img src="{{ url_for('static', filename='q7.png') }}" alt="Chart 7" class="chart" onclick="zoomChart(this)">
                    <img src="{{ url_for('static', filename='q8.png') }}" alt="Chart 8" class="chart" onclick="zoomChart(this)">
                    <img src="{{ url_for('static', filename='q9.png') }}" alt="Chart 9" class="chart" onclick="zoomChart(this)">
                    <img src="{{ url_for('static', filename='q10.png') }}" alt="Chart 10" class="chart" onclick="zoomChart(this)">
                    <img src="{{ url_for('static', filename='q11.png') }}" alt="Chart 11" class="chart" onclick="zoomChart(this)">
                </div>
            </section>                     
            
    </main>

    <script>

        document.getElementById('logoLink').addEventListener('click', function (e) {
            e.preventDefault();
            window.location.href = 'main_page';
        });

        // Check if the user is logged in and their access type when the page loads
        var loggedInUser = localStorage.getItem('loggedInUser');
        var userAccessType = localStorage.getItem('userAccessType');

        if (loggedInUser) {
            // If user is logged in, show the logout link and hide the login link
            document.getElementById('loginLink').style.display = 'none';
            document.getElementById('logoutLink').style.display = 'block';

            // Show or hide the "Admin" link based on the user's access type
            if (loggedInUser == 'nminer' || loggedInUser == 'sbanga' || loggedInUser == 'isikder') {
                document.getElementById('adminLink').style.display = 'block';
            } else {
                document.getElementById('adminLink').style.display = 'none';
            }
        } else {
            // If user is not logged in, show the login link and hide the logout link and "Admin" link
            document.getElementById('loginLink').style.display = 'block';
            document.getElementById('logoutLink').style.display = 'none';
            document.getElementById('adminLink').style.display = 'none';
        }

        document.getElementById('logoutBtn').addEventListener('click', function (e) {
            e.preventDefault();
            
            // Clear the user information from localStorage
            localStorage.removeItem('loggedInUser');
            
            // Redirect to the main page (refresh)
            window.location.href = 'main_page';
        });

        document.getElementById('searchForm').addEventListener('submit', function (e) {
        e.preventDefault();               
        // Get the value from the dropdown
        var selectedQuery = document.getElementById('querySelector').value;
        // Perform the query based on the selected option
        performQuery(selectedQuery);
        });


        function performQuery(query) {
        fetch('/main_page', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: new URLSearchParams({
                'querySelector': query,
            }),
        })
        .then(response => response.json())
        .then(data => {
            displaySearchResults(data.results);
        })
        .catch(error => console.error('Error performing query:', error));
        }

        // New
        function displaySearchResults(result) {
            var resultContainer = document.getElementById('resultContainer');

            if (result && result.length > 0) {
                var resultList = '<div class="property-listing">';

                result.forEach(item => {
                    resultList += '<div class="property-item">';
                    
                    if (typeof item === 'object') {
                        for (var key in item) {
                            resultList += '<div class="property-detail">';
                            resultList += '<span class="property-key">' + key + ':</span> ';
                            resultList += '<span class="property-value">' + item[key] + '</span>';
                            resultList += '</div>';
                        }
                    } else {
                        resultList += '<div class="property-detail">' + item + '</div>';
                    }

                    resultList += '</div>'; // Close property-item div
                });

                resultList += '</div>'; // Close property-listing div
                resultContainer.innerHTML = resultList;
            } else {
                resultContainer.innerHTML = '<p>No results found</p>';
            }
        }

        // New
        function zoomChart(chart) {
            if (!chart.classList.contains('zoomed')) {
                // Open a new window for the zoomed chart
                const newWindow = window.open('', 'Zoomed Chart');

                // Set the content of the new window to the zoomed chart
                newWindow.document.body.innerHTML = `<img src="${chart.src}" alt="Zoomed Chart" style="max-width: 100%; max-height: 100%; display: block; margin: auto;">`;

                // Toggle the zoomed class for the clicked chart
                chart.classList.add('zoomed');
            } else {
                // Toggle the zoomed class off when closing the new window
                chart.classList.remove('zoomed');
            }
        }

    </script>
</body>
</html>